@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital@0;1&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --seasalt: #f8f9faff;
  --antiflash-white: #e9ecefff;
  --platinum: #dee2e6ff;
  --french-gray: #ced4daff;
  --french-gray-2: #adb5bdff;
  --slate-gray: #6c757dff;
  --outer-space: #495057ff;
  --onyx: #343a40ff;
  --eerie-black: #212529ff;
}

body {
  background-color: var(--eerie-black);

  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;

  max-height: 100vh;
}

#root {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
    "header header"
    "side-nav main";
  row-gap: 20px;
  column-gap: 30px;
  margin: 10px;
}
